
/**/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

* {
  font-size: 25px;
}
.header {
  background-color: black;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}

.footer {
  background-color: black;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contant {
  flex: 1 0 auto;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
}

.form {
  width: 100%;
}
.form__item {
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin-bottom: 10px;
  /* width: 500px; */
  width: 100%;
}
.form__item-b {
  background-color: green;
  color: white;
  height: 50px;
  border: none;
}

.form__item-b:hover {
  transition: 1000ms;
  background-color: blue;
}

input:disabled {
  font-weight: bold;
  color: black;
}

textarea {
  resize:none;
  height: 100px;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color:green;
}
